body,html{font:12px/1.5 "微软雅黑","宋体B8B\4F53",Arial,sans-serif;*padding-top:35px;}
a{cursor:pointer;}
.wallpaper{width:100%;height:100%;position:fixed;left:0;top:0;z-index:-100;overflow:hidden;display:none;}
.wallpaper img{position:fixed;left:50%;right:50%;top:50%;bottom:50%;}
.navList{position:fixed;right:0px;top:240px}
.navList li{position:relative;height:48px;width:48px;margin-top:5px;}
.navList a{width:100%;height:100%;background:url('../images/w60.png') repeat;position:absolute;padding-top:1px;right:0px;display:block}
.navList a:hover{background:#FFFFFF}
.navList .arrow{background:#2EA8D2}
.navList .arrow:hover{background:#49B9EA}
.navList .icon{position:absolute;width:20px;height:20px;background:url('../images/iconList.png') no-repeat;top:50%;margin-top:-10px;right:14px;}
.navList .icon_check{background-position:0 0;}
.navList .icon_bag{background-position:-20px 0;}
.navList .icon_download{background-position:-40px 0;}
.navList .icon_en{background-position:-60px 0;}
.navList .icon_blog{background-position:-80px 0;}
.navList .icon_arrow{background-position:-100px 0;}
.navList .content_area{height:48px;line-height:48px;padding-left:10px;padding-right:48px;display:none}

.logoimg{background:url('../images/logo.png') no-repeat;width:158px;height:207px;display:block;position:fixed;left:35px;top:0px;}

.main_box{width:840px;*width:760px;min-height:600px;left:50%;margin-left:-420px;margin-top:70px;*margin-top:70px;position:relative;padding:40px;color:#FFFFFF;}
.welcome_box{background:url('../images/bgN011.png') repeat;}
.gowhere_box{background:url('../images/bgN021.png') repeat;}
.dowhat_box{background:url('../images/bgN031.png') repeat;}
.shopping_box{background:url('../images/bgN041.png') repeat;}
.experence_box{background:url('../images/bgN051.png') repeat;}
.letsgo_box{background:url('../images/bgN061.png') repeat;}
.main_box .title{font-size:58px;color:#FFFFFF;height:83px;margin-bottom:16px;}
.main_box p{color:#FFFFFF;font-size:14px;line-height:1.8;padding-bottom:30px;margin:0px;}

.welcome_box .title{background:url('../images/welcome/hello.png') no-repeat;padding-left:230px;padding-top:1px;margin-bottom:16px;margin-top:15px;}
.welcome_box .r{width:192px;}
.welcome_box .leftMenu{width:180px;margin:0 auto;}
.welcome_box .leftMenu li{float:left}
.welcome_box .leftMenu a{position:relative; display:block;background:url('../images/w40.png') repeat;width:88px;height:88px;*height:38px;margin-right:1px;margin-bottom:1px;color:#FFFFFF;text-align:center;font-size:14px;padding-top:50px;cursor:pointer}
.welcome_box .leftMenu a:hover{background:url('../images/w20.png') repeat;}
.welcome_box .leftMenu .im_icon{width:25px;height:25px;position:absolute;top:17px;left:50%;margin-left:-12.5px;background:url('../images/welcome/nav_list.png') no-repeat;overflow:hidden;}
.welcome_box .leftMenu .im_icon_1{background-position:0 0;}
.welcome_box .leftMenu .im_icon_2{background-position:-26px 0;}
.welcome_box .leftMenu .im_icon_3{background-position:-51px 0;}
.welcome_box .leftMenu .im_icon_4{background-position:-76px 0;}
.welcome_box .leftMenu .im_icon_5{background-position:-101px 0;}
.welcome_box .leftMenu .im_icon_6{background-position:-126px 0;}
#mainBoxPhoto{width:516px;}

.gowhere_box .title{background:url('../images/gowhere/losangle.png') no-repeat;margin-bottom:16px;}
.gowhere_box .losMap{background:url('../images/gowhere/map.png') no-repeat;width:100%;height:78px;margin-top:75px;margin-bottom:65px;}
.gowhere_box .losMap a{background:url('../images/gowhere/changeNumBgA.png')  50% 100% no-repeat;position:absolute;color:#FFFFFF;display:block;font-size:20px;text-align:center;cursor:pointer}
.gowhere_box .losMap a:hover,.gowhere_box .losMap .current{background:url('../images/gowhere/changeNumBgAH.png') 50% 100% no-repeat;text-decoration:none;color:#3FF8FE}
.gowhere_box .losMap .pos_01{font-size:14px;padding-bottom:25px;left:15px;top:-19px;}
.gowhere_box .losMap .pos_02{background-position:50% 0;padding-top:25px;left:110px;top:-7px;}
.gowhere_box .losMap .pos_02:hover{background-position:50% 0;}
.gowhere_box .losMap .pos_03{padding-bottom:25px;left:235px;top:-68px;}
.gowhere_box .losMap .pos_04{background-position:50% 0;padding-top:25px;left:350px;top:41px;}
.gowhere_box .losMap .pos_04:hover{background-position:50% 0;}
.gowhere_box .losMap .pos_05{padding-bottom:25px;left:500px;top:0px;}
.gowhere_box .losMap .pos_06{background-position:50% 0;padding-top:25px;left:632px;top:52px;font-size:14px;text-align:left;}
.gowhere_box .losMap .pos_06:hover{background-position:50% 0;}	

.dowhat_box .title{line-height:0;height:134px;}
.dowhat_box a{color:#FFFFFF}
.dowhat_box a:hover{text-decoration:none}
 .dowhat_list{margin-right:-27px}
 .dowhat_list .dowhat_li{float:left;width:233px;height:256px;margin:27px 27px 0 0;}
 .dowhat_list .pic{display:block;width:100%;height:140px;overflow:hidden;position:relative;background:#FFFFFF;opacity:1;cursor:pointer;}
 .dowhat_list .pic img{width:100%;height:100%;}
 .dowhat_list .desc{height:116px;*height:83px;width:100%;*width:217px;background:url('../images/w60.png') repeat;padding:16px 8px;}
 .dowhat_list .pic_bg{width:233px;height:30px;background:#000000;opacity:0.6;filter:alpha(opacity=60);position:absolute;bottom:0px;z-index:1;}
 .dowhat_list .pic_title{width:233px;height:30px;line-height:30px;text-align:center;position:absolute;bottom:0px;color:#FFFFFF;font-size:14px;z-index:2}
 .dowhat_list .pic:hover .pic_bg{opacity:0.8;filter:alpha(opacity=80);}
 .dowhat_list .pic:hover .pic_title{color:#9EC508;}
 .dowhat_list .desc .pic_btn{height:34px;line-height:34px;font-size:16px;display:block;opacity:0.7;filter:alpha(opacity=70);width:80px;text-align:center;margin-bottom:8px;}
 .dowhat_list .desc .pic_btn:hover{opacity:1;filter:alpha(opacity=100);}
 .dowhat_list .desc .color1{background:#E6A210;}
 .dowhat_list .desc .color2{background:#E6A210;}
 .dowhat_list .desc .color3{background:#C6007E;}
 .dowhat_list .desc .color4{background:#8EC903;}
 .dowhat_list .desc .color5{background:#FF6900;}
 .dowhat_list .desc .color6{background:#B52800;}
 .dowhat_list .desc .pic_menu{display:block;height:21px;color:#666666}
 .dowhat_list .desc .pic_menu:hover{color:#3B4901;}

.shopping_box{margin-bottom:125px}
.shopping_box .title{line-height:105px;font-size:45px;}
.shopping_box  .shop_la_bg{position:absolute;width:134px;height:134px;left:50%;margin-left:-67px;bottom:-67px;background:url('../images/shopping/goBt01.png') no-repeat;opacity:0.6;filter:alpha(opacity=60);}
.shopping_box  .shop_la_bg:hover{opacity:1;filter:alpha(opacity=100);}
.shopping_box .shop_la{position:absolute;width:82px;height:73px;background:url('../images/shopping/shopLa.png') no-repeat;top:28px;left:28px;}
.shopping_box  .shop_la_bg:hover .shop_la{background:url('../images/shopping/shopLaHover.png') no-repeat;}
.shopping_box .shopping_list{padding-bottom:60px;margin-right:-24px}
.shopping_box .shopping_li{float:left;width:172px;height:172px;overflow:hidden;margin:24px 24px 0 0;position:relative}
.shopping_box .shopping_li img{height:100%}
.shopping_box .shopping_li .pic_title{position:absolute;left:0px;top:0px;background:url('../images/shopping/bg28.png') repeat;color:#FFFFFF;height:28px;line-height:28px;padding:0 12px;}
.shopping_box .shopping_li .pic_desc{position:absolute;left:0px;top:0px;width:100%;*width:142px;height:100%;*height:132px;background:url('../images/w60.png') repeat;padding:20px 15px;display:none;}
.shopping_box .shopping_li .pic_desc .pic_desc_title{display:block;color:#84261D;font-size:14px;margin-bottom:10px;}
.shopping_box .shopping_li .pic_desc_top,.shopping_box .shopping_li .pic_desc_bottom{position:absolute;width:15px;height:15px;}
.shopping_box .shopping_li .pic_desc_top{left:10px;top:10px;border-top:1px solid #84261D;border-left:1px solid #84261D;}
.shopping_box .shopping_li .pic_desc_bottom{right:10px;bottom:10px;border-bottom:1px solid #84261D;border-right:1px solid #84261D;}
.shopping_box .shopping_li .pic_desc span{color:#555;}

.experence_box .experence_list{width:760px;}

.letsgo_box{margin-top:172px;padding-top:110px;*margin-bottom:70pxl}
.letsgo_box .letsgo_logo{position:absolute;width:200px;height:200px;top:-110px;left:50%;margin-left:-100px;background:url('../images/letsgo/logoLA.png') no-repeat;}
.letsgo_box p{text-align:center;padding:0;}
.letsgo_box .title1{font-size:30px;padding:20px 0 40px;}
.letsgo_box .title2{text-align:center;font-size:40px;width:216px;padding-bottom:50px;}
.letsgo_box .dashed{background:url('../images/letsgo/whiteLine.png') repeat;width:272px;height:2px;font-size:2px;margin-top:31px}
.letsgo_box .title_area2{margin-top:60px;}
.letsgo_box .title_area2 .title2{width:240px;}
.letsgo_box .title_area2 .dashed{width:257px}
.letsgo_box .title_area3{margin-top:60px;}
.letsgo_box .title_area3 .title2{width:280px;}
.letsgo_box .title_area3 .dashed{width:237px}
.letsgo_box .letsgo_list{margin-right:-25px;}
.letsgo_box .letsgo_list li{width:104px;height:105px;float:left;margin:0 25px 25px 0;overflow:hidden;background:url('../images/letsgo/bg.png') no-repeat 0 100%;position:relative;}
.letsgo_box .letsgo_list li:hover{background-position:0 0;}
.letsgo_box .letsgo_list img{position:absolute;top:5px;left:6px;}

.main_navList{position:fixed;left:35px;top:205px;width:126px;}
.main_navList li{position:relative;width:100%;}
.main_navList .icon{height:60px;position:relative;padding-bottom:5px;display:block;margin:0 auto;}

.my_iput{height:30px;line-height:30px;}
.my_button{height:30px;line-height:30px;background:#999;border:1px solid #888;padding : 0 20px;margin:0 5px;color:#FFFFFF}

.copyright{width:100%;z-index:-1;background:#08243A;margin-top:70px;}
.up_cr,.down_cr{padding:10px 0;color:#0A2D49;}
.up_cr{border-bottom:1px solid #0A2D49}
.up_cr{padding-top:20px;}
.down_cr{padding-bottom:20px;}
.copyright ul{margin:0;}
.copyright li{line-height:25px}
.copyright span{color:#609DCB;}
.copyright a{color:#FFFFFF;margin:0 8px;}
.down_cr a{margin:0;}
.down_cr .mail{border-left:1px solid #0A2D49;padding-left:20px;}
.down_cr .mail_input{margin-top:10px;}
.copyright_font{font:12px/1.5 "宋体B8B\4F53",Arial,sans-serif;}
.copyright .input_cr{background:#061929;height:25px;line-height:25px;width:156px;padding:0 8px;border:0;color:#FFFFFF;margin-right:2px;}
.copyright .submit_btn{background:#104874;color:#FFFFFF;width:48px;height:25px;line-height:25px;text-align:center;display:block;}

.photo_box{padding-top:1px;margin:0 auto;}
.photo_box .photo_item{position:relative}
.photo_area{width:100%;height:100%;overflow:hidden;position:relative}
.photo_box ul{width:100%;height:100%;}
.photo_toolbar{width:100%;padding-top:25px;text-align:center;margin:0 auto;}
.photo_toolbar a{display:inline-block;width:14px;height:14px;margin-right:5px;background:url('../images/changeNum.png') -23px 0 no-repeat;}
.photo_toolbar a:hover,.photo_toolbar .current{background-position:0 0;}
.photo_box .description{color:#FFFFFF;font-size:14px;line-height:1.8;padding-bottom:30px;margin:15px 0;}
.photo_box .prev,.photo_box .next{height:75px;width:75px;display:block;background:url('../images/gowhere/scrollBt.png') no-repeat;position:absolute;cursor:pointer}
.photo_box .prev{background-position:0 100%;left:-89px;opacity:0.6}
.photo_box .prev:hover{background-position:0 0;left:-89px;opacity:1}
.photo_box .next{background-position:100% 0;right:-89px;opacity:0.6}
.photo_box .next:hover{background-position:100% 100%;right:-89px;opacity:1}